 <!DOCTYPE html>
<html>
    <head>
        <title>Spaceship</title>
        <script src="{{url_for('static', filename='spaceshipJS/phaser.min.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/Scene1.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/Scene2.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/beam.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/explosion.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/game.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/Enemy1.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/Enemy2.js')}}"></script>
        <script src="{{url_for('static', filename='spaceshipJS/Enemy3.js')}}"></script>

    </head>
    <body>
    </body>
</html>
