<!DOCTYPE html>
<html>
<head>
    <title>Python Flask Upload Multiple Images and insert to database using mysqldb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Python Flask Upload Multiple Images and insert to database using mysqldb</h2>

</div>

</body>
</html>